body {
  background-color:#ffffff;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  width: 800px;
}

h1 {
  text-align: center;
}

.descrip {
  margin: 0px 20px 0px 30px;
}

.iqm {
  margin-bottom: 100px;
}

.modality {
  color: #9f009f
}

.legend {
  width: 120px;
  padding-left: 30px;
}

.iqm_row {
  align-self: center;
}
