body {
  background-color:#ffffff;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  width: 800px;
}

h1 {
  text-align: center;
}

.descrip {
  margin: 0px 20px 0px 30px;
}

.hi_lo_text {
  color: #007f00;
  font-size: 10pt;
  width: 80px;
  margin: 0px 40px 0px 60px;
}

.iqm {
  margin-bottom: 100px;
}

.modality {
  color: #9f009f
}

.legend {
  width: 180px;
}

.legend_img {
  width: 64px;
  height: 240px;
  margin: 0px 60px 0px 60px;
}

.iqm_row {
  align-self: center;
}
